<div id="list">
    <h3>List of Contact</h3>
    <a href="#" onclick="addNew();">Create New</a>
    <table class="table table-primary table-bordered table-hover">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Country</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody id="listContact">
        </tbody>
    </table>
</div>
